.gradiente-logo {
    -fx-text-fill: linear-gradient(to right, #8c52ff, #5ce1e6);
}

.campo-inicio {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #333333;
    -fx-padding: 0;
    -fx-prompt-text-fill: #d9d9d9;
}

.boton-login {
    -fx-background-color: #4954ff;
    -fx-text-fill: #fbeaff;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-cursor: hand;
}

.boton-grande-azul {
    -fx-pref-width: 295;
    -fx-pref-height: 295;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.boton-mini-default {
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.boton-mediano-azul {
    -fx-pref-width: 245;
    -fx-pref-height: 245;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.boton-confirmar {
    -fx-pref-width: 495;
    -fx-pref-height: 990;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.campo-agregar {
    -fx-pref-width: 548;
    -fx-pref-height: 57;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #333333;
    -fx-padding: 0;
    -fx-prompt-text-fill: #d9d9d9;
}

.gradiente-header {
    -fx-fill: linear-gradient(to right, #8c52ff, #5ce1e6);
    -fx-background-radius: 20px 20px 0px 0px;
}

.campo-eliminar {
    -fx-pref-width: 480;
    -fx-pref-height: 71;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #333333;
    -fx-padding: 20;
    -fx-prompt-text-fill: #d9d9d9;
}

.boton-eliminar {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}